In [ ]:
#input function
l=int(input("enter the l of rectangle"))
b=int(input("enter the b of rectangle"))
a=(l*b)
print(a)

enter the l of rectangle3
enter the b of rectangle2
6

In [ ]:
n1=int(input("enter n1"))
n2=int(input("enter n2"))
s=n1+n2
q=n1/n2
p=n1*n2
d=n1-n2
print(s)
print(q)

enter n12
enter n26
8
0.3333333333333333

In [ ]:
f=float(input("enter a number"))
c=(f-32)*5/9
print(c)

enter a number3
-16.11111111111111

In [ ]:
c=float(input("enter the number"))
f=(c*9/5)+32
print(f)

enter the number2
35.6

In [ ]:
num=int(input('enter a number'))
if num>0:
  print("num is positive")
elif num<0:
  print("num is negative")
else:
  print("invalid")

enter a number23
num is positive

In [ ]:
y=int(input("enter the year"))
if y%4==0:
  print("it is a leap year")
elif y%4!=0:
  print('it is not a leap year')

enter the year2012
it is a leap year

In [ ]:
mark=int(input("enter mark"))
if mark>89:
  print("A")
elif mark>79:
  print("B")
elif mark>69:
  print("C")
elif mark>59:
  print("D")
elif mark<59:
  print("F")
else:
  print("invalid")

enter mark56
F

In [ ]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(2,22,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
n = int(input("enter the number:"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter the number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40