To find sum of two numbers

In [ ]:
x =int(input('enter the first number'))
y =int(input('enter the second number'))
s = x+y
print(s)

enter the first number2
enter the second number6
8

Product of two numbers

In [ ]:
x = int(input('enter the first number'))
y = int(input('enter the second number'))
p = x*y
print(p)

enter the first number6
enter the second number9
54

Quotient

In [ ]:

x = int(input('enter the first number'))
y = int(input('enter the second number'))
q =x/y
r =x%y
print(q)
print(r)

enter the first number2
enter the second number9
0.2222222222222222
2

Length of a string

In [ ]:
x = "seethal"
len(x)

7

To lower Case

In [ ]:
x = "sEetHal"
print(x.lower())

seethal

To Uppercase

In [ ]:
x = "thykattil"
print(x.upper())

THYKATTIL

Number of occurences of a character

In [ ]:

x =input("enter the word")
s =input("enter ")
print(x.count(s))

enter the wordelephant
enter e
2